.create-room {
    text-align: center;
    justify-content: center;
    color: #fff;
    background-color: #242424;
}

.homeHeading {
    padding-top: 30vh;
}

.new-meeting {
    background-color: #464775;
    color: #fff;
    margin: 0px;
    padding: 1.5vh;
    border-color: #464775;
    width: 18vw;
    font-size: 3vh;
}

.input-name {
    background-color: #fff;
    color: black;
    padding: 1.5vh;
    margin: 3vh;
    width: 18vw;
}