.input-form {
    margin-top: 64vh;
    position: absolute;
    margin-left: 46vw;
    color: white;
    justify-content: center;
    text-align: center;
    background-color: #242424;
}

.form-button {
    background-color: #464775 !important;
    border-color: #464775 !important;
}