body {
    overflow: hidden;
}

html {
    background-color: #242424;
}

.center-video {
    height: 40%;
    width: auto;
    position: absolute;
    margin-left: 23.3vw;
    margin-top: 54vh;
    z-index: 10;
    padding: 0;
}

.side-video {
    height: 18%;
    width: auto;
    position: fixed;
    margin-left: 87vw;
    margin-top: 3vh;
    z-index: 10;
}

.chat-room {
    width: 100vw;
    height: 100vh;
    background-color: #242424/*#dae2ee*/
    ;
}