div.controls {
    position: absolute;
    margin-top: 89vh;
    padding-top: 0;
    display: flex;
    z-index: 20;
    margin-left: 36.5%;
}

div.controls-form {
    position: absolute;
    margin-bottom: 0vh;
    margin-top: 23%;
    justify-content: center;
    margin-left: 42%;
    display: flex;
    background-color: rgba(49, 42, 42, 0.507);
    z-index: 20;
    flex-wrap: nowrap;
}

.control {
    color: white;
    padding: 4vh;
    font-size: 3vh;
    height: auto;
    width: auto;
    background-color: rgba(49, 42, 42, 0.705);
    cursor: pointer;
}

.call-end {
    background-color: rgba(255, 0, 0, 0.521);
}

.show-chat {
    background-color: #62577e77;
}

.control-copy {
    color: rgb(187, 36, 36);
    background-color: rgba(73, 67, 67, 0.486);
    width: 0vw;
    height: 0vh;
    position: absolute;
    margin-top: 99vh;
}

.controls-not-video {
    position: absolute;
    margin-top: 68vh;
    margin-left: 36.5%;
}