div.controls {
    position: absolute;
    margin-top: 90vh;
    padding-top: 0;
    display: flex;
    z-index: 20;
    margin-left: 39%;
}

div.controls-form {
    position: absolute;
    margin-bottom: 0vh;
    margin-top: 21.5%;
    justify-content: center;
    margin-left: 42%;
    display: flex;
    background-color: rgba(49, 42, 42, 0.507);
    z-index: 20;
    flex-wrap: nowrap;
}

.control {
    color: white;
    padding: 4vh;
    font-size: 3vh;
    height: auto;
    width: auto;
    background-color: rgba(49, 42, 42, 0.705);
    cursor: pointer;
}

.call-end {
    background-color: rgba(255, 0, 0, 0.521);
}

.show-chat {
    background-color: #62577e77;
}