.meeting-status {
    position: absolute;
    color: black;
    background-color: white;
    margin-top: 2vh;
    margin-left: 18vw;
    height: 43%;
    width: 33%;
}

.join-meeting-room {
    color: #fff;
    background-color: #4b53bc;
    border-radius: 10px;
    border-width: 0;
    height: 7vh;
    width: 10vw;
}

.leave-meeting-room {
    color: #fff;
    background-color: rgb(255, 74, 74);
    border-radius: 10px;
    border-width: 0;
    height: 7vh;
    width: 10vw;
    margin-left: 2vh;
}

.chat-room-card {
    padding: 10% !important;
}

.anchor-link {
    color: rgb(87, 87, 255);
}

.anchor-link:hover {
    cursor: pointer;
}