:root {
    /* --main-color: #5ea3d0; */
    --main-color: #e9eaf6;
    --secondary-color: white;
    /* --main-text-color: #3e5869; */
    --main-text-color: #e9eaf6;
    --secondary-text-color: #b0c7d6;
    --send-message-form: #F5F5F5;
}

.app {
    width: 100%;
    /* height: calc(100% - 65px); */
    height: 89%;
    /* background-color: #fff; */
}

.title {
    height: 70px;
    color: black;
    background-color: white;
    box-sizing: border-box;
    margin: 0;
    padding-top: 20px;
    font-size: 23px;
    padding-left: 50px;
}

.message {
    margin: 15px 0;
    background-color: white;
    margin-left: 30px;
}

.message div:nth-child(1) {
    font-size: 11px;
    color: black;
    opacity: 0.9;
    margin-bottom: 6px;
    background-color: white;
}

.message div:nth-child(2) {
    background-color: #e9eaf6;
    color: black;
    display: inline;
    padding: 15px;
    border-radius: 8px;
}

.message-notifier div:nth-child(1) {
    font-size: 11px;
    color: white;
    margin-bottom: 6px;
    background-color: #242424;
    width: fit-content;
    /* width: 1vw; */
    padding: 0;
    margin: 0;
}

.message-notifier div:nth-child(2) {
    background-color: #242424;
    color: white;
    display: inline;
    padding: 5px;
    border-radius: 8px;
}

.message-list {
    box-sizing: border-box;
    padding: 0 0 0 6px;
    margin: 0;
    width: 100%;
    height: 88%;
    overflow: scroll;
    background: white;
}

.send-message-form {
    background-color: var(--send-message-form);
    display: flex;
    box-sizing: border-box;
    height: 12%;
}

.send-message-form input {
    width: 100%;
    padding: 15px 10px;
    border: none;
    margin: 0;
    background-color: var(--send-message-form);
    font-weight: 200;
}

.send-message-form input:focus {
    outline-width: 0;
}

.send-message-form input::placeholder {
    color: black;
}

.new-message {
    background-color: rgba(0, 0, 0, 0);
    color: white!important;
    padding: 0!important;
    margin: 0 !important;
    border: 0px !important;
}

/* .Toastify__toast--default {
    background: #fff;
    color: #aaa;
} */