.meeting-status {
    position: absolute;
    color: white;
    background-color: #242424;
    margin-top: 60vh;
    margin-left: 18vw;
    height: 43%;
    width: 33%;
}

.join-meeting-room {
    color: #fff;
    background-color: #6264a7;
    border-radius: 10px;
    border-width: 0;
    height: 7vh;
    width: 10vw;
    position: absolute;
    margin-left: -14vw;
}

.leave-meeting-room {
    color: #fff;
    background-color: rgba(214, 0, 0, 0.767);
    border-radius: 10px;
    border-width: 0;
    height: 7vh;
    width: 10vw;
    margin-left: -3vw;
    position: absolute;
}

.chat-room-card {
    padding: 10% !important;
}

.anchor-link {
    color: rgb(87, 87, 255);
}

.anchor-link:hover {
    cursor: pointer;
}

.meet-time {
    margin-top: 10vh;
    margin-right: 35vw;
    margin-left: -15vw;
}