.nav-menu {
    background-color: #060b26;
    width: 340px;
    height: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 850ms;
    z-index: 20;
}

.nav-menu.active {
    right: 0;
    transition: 350ms;
    height: 100%;
    z-index: 20;
}